/* Dark theme */
body.dark {
    background-color: #121212;
    color: #ffffff;
}

body.dark a {
    color: #bb86fc;
}

body.dark .home-section {
    background-color: #121212;
}

body.dark .ul-papers .description .title, body.dark .ul-papers .description .authors, body.dark .ul-papers .description .venue {
    color: #ffffff;
}

#theme-switcher {
    cursor: pointer;
}

section#news ul li {
  padding-left: 1.5cm;
  text-indent: -1.5cm;
}

body.dark #navbar-main {
    background-color: #121212 !important;
    border-color: #333 !important;
}

body.dark #navbar-main .navbar-brand,
body.dark #navbar-main .nav-link {
    color: #ffffff !important;
}

body.dark #navbar-main .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-left: 10px;
}

.social-icons a {
  color: #343a40;
  font-size: 20px;
}

body.dark .social-icons a {
  color: #ffffff;
}
